.footercontainer {
  flex-direction: row;
  display: flex;
  background-color: rgba(200, 200, 200, 0.5);
}

.footercontainer p {
  flex: 1;
  align-self: center;
}

.footer {
  position: sticky;
  bottom: 0rem;
  padding: 0rem;
  /* background-color: rgba(200, 200, 200, 1); */
  text-align: center;
  border-width: 0.5rem 0rem 0rem 0rem;
  border-color: #da0000;
  border-style: ridge;
  background-image: url("../../../images/sand.gif");
}
