html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, "Times New Roman", "Nimbus Roman No9 L", "Freeserif",
    Times, serif;
  background-image: url("../images/sand.gif");
}

a {
  color: #1460aa;
  flex-shrink: 1;
  flex-grow: 0;
}
a:visited {
  color: #77448b;
}

.remark-highlight {
  max-width: calc(100vw - 2rem);
}

main {
  /* min-height: 100vh; */
  padding: 0rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: left;
  justify-content: center;
}
