html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, "Times New Roman", "Nimbus Roman No9 L", "Freeserif",
    Times, serif;
  background-image: url("../images/sand.gif");
}

a {
  color: #1460aa;
}
a:visited {
  color: #77448b;
}
