html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, "Times New Roman", "Nimbus Roman No9 L", "Freeserif",
    Times, serif;
  background-image: url('../images/sand.gif');
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}



